# Supabase Connection String (Ganti password dan host sesuai project Supabase Anda)
# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL="postgresql://postgres.zrvazojublwmekokfybv:100401naraA!@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL="postgresql://postgres.zrvazojublwmekokfybv:100401naraA!@aws-0-ap-south-1.pooler.supabase.com:5432/postgres"

NEXTAUTH_SECRET="bimbel_super_secret_key_production_2026"
NEXTAUTH_URL="http://localhost:3000"
APP_ENCRYPTION_KEY="12345678901234567890123456789012"
GOOGLE_CLIENT_ID="google_oauth_client_id_anda"
GOOGLE_CLIENT_SECRET="google_oauth_client_secret_anda"
